/* @import url("https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"); */
@import "tailwindcss";

.richtext-outline,
.richtext-outline-1 {
  outline: none;
  min-height: 100vh;
  border-radius: 0;
}

* {
  font-family: "Libertinus Serif", serif;
  font-weight: 600;
  font-style: normal;
}